@model IEnumerable<InventoryManagementApp.Models.Computer>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Computers" asp-action="Index" method="get">
    <p>
        <!-- search by installation date -->
        Installation Date: From <input type="date" name="searchInstallationDateBeginning" />
        To <input type="date" name="searchInstallationDateEnding" />
        <input type="submit" value="Filter" />
    </p>
    <p>
        <!-- search by price range -->
        Price Range: From <input type="text" name="searchPriceBeginning" />
        To <input type="text" name="searchPriceEnding" />
        <input type="submit" value="Filter" />
    </p>
    <p>
        <!-- search by serial number -->
        Serial Number: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
    <p>
        <!-- search by room number -->
        Room Number: <input type="text" name="searchRoomNumber" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeRoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerSpecification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerSerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeRoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerSpecification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatingSystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstallationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>