@model InventoryManagementApp.Models.RoomNumViewModel
@{
    ViewData["Title"] = "Computer Index";
}
<h1>Computer Index</h1>
<p>
    <a asp-action="Create">Create New Computer Entry</a>
</p>

<form asp-controller="Computers" asp-action="Index" method="get">
    <p>
        <!-- search by room number -->
        Room Number: <select asp-for="ComputerRoomNumber" asp-items="Model.RoomNums">
            <option value="">All</option>
        </select>
    </p>
    <p>
        <!-- search by installation date -->
        Installation Date: From <input type="date" name="searchInstallationDateBeginning"/>
        To <input type="date" name="SearchInstallationDateEnding"/>
    </p>
    <p>
        <!-- search by price range -->
        Price Range: From <input type="text" name="searchPriceBeginning" />
        To <input type="text" name="SearchPriceEnding" />
    </p>
    <p>
        <!-- search by serial number -->
        Serial Number: <input type="number" name="SearchSerialNumber" />
        
    </p>
    <p>
        <!-- filter button -->
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table text-light" style="border-color: white; border-right-width: 1px; border-left-width: 1px; border-top-width: 1px; border-bottom-width: 1px; background-color: lightslategray">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].ManufacturerSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].OfficeRoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].OfficeLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].ComputerSpecification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].OperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].InstallationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computers[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Computers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerSerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeRoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerSpecification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatingSystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstallationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-light">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-light">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-light">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>